server:
  port: 8080

spring:
  application:
    name: portafolio-backend

  mail:
    host: smtp.gmail.com
    port: 587
    username: d01072004@gmail.com
    password: "ivoh iwck qcny lbyd"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 15000
          timeout: 15000
          writetimeout: 15000
          ssl:
            trust: smtp.gmail.com

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/portafolio_db}
    username: ${DB_USERNAME:ups}
    password: ${DB_PASSWORD:ups123}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000